.text{
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.navigation{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.nav__text li{
    margin-bottom: 16px
}

.nav__slider{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 64px;
    height: 344px;
    width: 79.5%;
}

.slider__text{
    margin-top: 58px;
}

.slider__text p{
    margin-left: 24px;
}

.slider__title{
    display: flex;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.slider__title p{
    align-self: center;
}

.slider__description{
    color: white;
    width: 300px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 65px;
}

.slider__link{
    color: white;
    font-weight: 500;
    display: flex;
    width: 100%;
    position: absolute;
}

.slider__link img{
    margin-left: 8px;
}

.slider__img {
    margin-top: 16px;
    width: 100%;
    position: relative;
    content: "";
    top: -250px;
    right: 600px;
}

.slider__link  div::after{
    content: "";
    display: block;
    width: 9%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.slick-slider{
    padding: 0px;
}

.slick-arrow.slick-prev{
    background-color: black;
    left: 0;
}

.slick-arrow.slick-prev::before{
    display: none;
}

.slick-arrow.slick-next{
    right: 0;
}

.slick-arrow.slick-next::before{
    display: none;
    background-color: black;
    right: 0;
}
