.preHeader {
    height: 48px;
    width: 100%;
    background-color: black;
}

.preHeader__text {
    color: white;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
}
