.note {
    width: 20px;
    height: 40px;
    background-color: red;
    border-radius: 4px;
    margin-right: 16px;
}

.categories__name {
    display: flex;
    font-weight: 600;
    color: red;
    align-items: center;
}

.categories {
    margin-top: 90px;
    padding-bottom: 70px;
    border-bottom: 1px solid black;
}

.categories__title {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}

.categories__select {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.categories__arrow {
    cursor: pointer;
}

.arrow__left {
    margin-right: 8px;
}

.categories__item-box {
    height: 145px;
    width: 170px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 10px 0px;
}

.item__title {
    font-weight: 500;
    margin-top: 16px;
}

.item__price {
    font-weight: 500;
}

.item-box__img {
    height: 56px;
    width: 56px;
}

.active {
    background-color: red;
    color: white;
}

.slick-slider .slick-prev {
    background-color: white;
    background-image: url('../categories/images/Left Arrow.png');
    height: 46px;
    width: 46px;
    top: -73px;
    left: 1070px;
}

.slick-slider .slick-next {
    background-color: white;
    background-image: url('../categories/images/Right Arrow.png');
    height: 46px;
    width: 46px;
    top: -73px;
    left: 1125px;
}
