.todays {
    margin-top: 90px;
}

.list__items {
    margin-top: 40px;
    width: 100%;
}

.item {
    display: inline-block;
    text-align: center;
    padding-top: 35px;
    width: 270px;
    height: 250px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.item__price {
    display: flex;
    gap: 12px;
}

.price__new {
    color: #db4444;
}

.price__old {
    color: #7d8184;
    text-decoration: line-through;
}

.btn {
    width: 234px;
    height: 56px;
    border-radius: 4px;
    background-color: #db4444;
    text-align: center;
    color: white;
    align-self: center;
}

.todays_button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.button__view-all {
    align-self: center;
}

.slick-slide .item__img {
    margin: auto;
}

.list__items .slick-slider .slick-next {
    background-color: white;
    background-image: url('../categories/images/Right Arrow.png');
    height: 46px;
    width: 46px;
    top: -73px;
    left: 1125px;
}

.list__items .slick-slider .slick-prev {
    background-color: white;
    background-image: url('../categories/images/Left Arrow.png');
    height: 46px;
    width: 46px;
    top: -73px;
    left: 1070px;
}

.img__heart {
    position: relative;
    top: -205px;
    right: -225px;
}
